<div class="container">
  <h3 class="title mb-2">
    <span class="square-icon mr-2"></span>
    <span class="text">Title</span>
  </h3>
  <div class="img mb-2">
    <img src="assets/images/product_1.jpg">
  </div>
  <div class="quantity-controls mb-2">
    <p-inputNumber
      [(ngModel)]="quantity"
      [showButtons]="true"
      buttonLayout="horizontal"
      inputId="horizontal"
      spinnerMode="horizontal"
      [step]="1"
      decrementButtonClass="bg-primary"
      incrementButtonClass="bg-primary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      inputStyleClass="text-center"
      mode="decimal"
    ></p-inputNumber>
  </div>
  <div class="text-right">
    <p-button
      label="Add"
      styleClass="bg-primary"
      icon="pi pi-shopping-cart"
    ></p-button>
  </div>

</div>
